.character {
  margin: auto;
  margin-bottom: 50px;
  width: 85%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  text-align: center;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#sorting {
  display: inline-block;
  height: 36px;
  margin: 5px;
}
#search {
  display: inline-block;
  height: 30px;
  margin: 5px;
}

.name {
  font-size: 30px;
  letter-spacing: 5px;
  text-decoration: underline;
  margin: 5px;
}
.image {
  border: 1px solid #ccc;
  width: 100%;
  display: inline-block;
}

.information {
  width: 230px;
  margin: 15px;
  text-align: left;
  font-size: 17px;
  height: 230px;
  display: inline-block;
}

.information ul {
  list-style-type: none;
  padding: 0px;
}

.episodes {
  margin: 5px;
  padding: 10px;
  display: inline-block;
  width: calc(100% - 25px);
}

.episodes-text {
  font-size: large;
}

.title-container {
  padding: 10px;
  position: relative;
}

.title-container-element {
  display: inline-block;
}

.remove-button {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.5);
  height: 40px;
  margin: 5px;
  padding: 10px;
  width: 50%;
  background-color: salmon;
  color: white;
  font-size: 1.2em;
}

.remove-button:hover {
  background-color: red;
}

.remove-button:disabled {
  background-color: grey;
  color: white;
}
